/*------------------------------*/
/*tablet*/
@media only screen and (min-width: 600px) and (max-width: 1199px) {
  .menu,
  .image-homepage,
  .signin_button,
  nav,
  #hamburger-menu {
    display: none;
  }

  .hamburger-label {
    margin: -70px auto auto 20px;
  }

  #hamburger-menu:checked ~ nav {
    display: inline-block;
    float: left;
    position: fixed;
    z-index: 2;
  }

  nav li {
    display: block;
    margin: 20px 20px;
  }

  .nav_textlinks {
    border: 2px solid #8a253e;
    padding: 5px;
    background-color: #f2ecd9;
    box-shadow: 1px 1px 1px 1px rgba(109, 67, 32, 0.5);
    margin-top: -90px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }

  .explore-div {
    order: 2;
    align-self: center;
  }

  .create-div {
    order: 3;
    align-self: center;
    margin-top: -2px;
  }

  .button-explore {
    padding: 40px 80px;
    min-width: 139.333px;
  }

  .button-create {
    padding: 40px 80px;
    min-width: 139.333px;
  }

  .ipad-signin {
    order: 1;
    display: grid;
  }

  .ipad-signin__image {
    padding: 0 100px;
    background-color: #d6dce2;
    z-index: 1;
  }

  .ipad-signin__button {
    z-index: 2;
    place-self: center;
    font-size: 1.3125rem;
    padding: 20px 50px;
    background-color: rgb(255, 255, 255, 0.8);
    margin-top: -280px;
    letter-spacing: 0.2rem;
  }
}

/*------------------------------*/
/*laptop**/
@media only screen and (min-width: 1200px) {
  .ipad-signin,
  #hamburger-menu,
  .hamburger-label {
    display: none;
  }

  #hamburger-menu:checked ~ nav {
    width: 90%;
    margin-top: -30px;
    align-items: center;
    float: right;
    margin-top: 0px;
    margin-left: 15px;
  }

  .navigation {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    align-items: center;
    margin-top: -80px;
  }

  .navigation-links {
    display: flex;
    display: inline;
  }

  nav li {
    display: inline;
  }

  .nav_textlinks {
    margin-top: 0;
  }

  h1 {
    padding: 0;
  }

  .button-explore {
    padding: 30px 35px;
    border-radius: 30px;
    min-width: 139.334px;
  }

  .button-create {
    padding: 30px 35px;
    border-radius: 30px;
    min-width: 139.334px;
  }

  .explore-div {
    margin: 2rem;
    order: 1;
    position: relative;
    align-self: flex-end;
  }

  .create-div {
    margin: 2rem;
    order: 3;
    position: relative;
    align-self: flex-end;
  }

  .image-homepage {
    margin: 2rem;
    order: 2;
  }

  .imgdesign-home {
    border-radius: 50%;
  }
}

/*------------------------------*/
/*larger screens**/
