@font-face {
    font-family: "Closeness Outline";
    src: url("../Fonts/closeness.outline-regular.ttf") format("truetype");
}

body {
    background: linear-gradient(#3A6186, #8A253E);
}

.white-background {
    background-color: #fff;
    margin:30px;
    padding: 0px 20px 10px 20px;
    border-radius: 50px;
}

.logo {
    max-width: 150px;
    display:inline;
    position: relative;
    top: -20px;
    left: 45%;
    right:50%;
}

/*navigation header*/

nav li{
    display: inline;
}

nav a {
    padding: 1rem;
    text-decoration: none;
    color: #1B203D;
    font-size:1rem;
}

.current {
    text-decoration: underline 0.2rem;
}

/*main content*/

h1 {
    font-family: "Closeness Outline", Verdana, Geneva, Tahoma, sans-serif;
    color: #8A253E;
    letter-spacing: .3rem;
    font-size: 3rem;
    text-align: center;
}

.cta {
    text-decoration: none;
    color: #3A6186;
    font-family: "montserrat", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
}

.button-explore {
    max-width: 2rem;
    max-height: 2rem;
    background-color: #E8DDBA;
}

.button-create {
    max-width: 2rem;
    max-height: 2rem;
    background-color: #E8DDBA;
}

main img {
    max-width: 300px;
}

.container {
    display: flex;
    justify-content: space-around;
}

.explore {
    margin:2rem;
    order: 1;
}

.create {
    margin:2rem;
    order: 3;
}

.image-homepage {
    margin:2rem;
    order: 2;
}

/*footer*/

footer {
    text-align: center;
}