@import 'imports/navigation.css';
@import 'imports/variables.css';
@import 'imports/typography.css';

@font-face {
  font-family: 'Closeness Outline';
  src: url('../Fonts/closeness.outline-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat Regular';
  src: url('../Fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat SemiBold';
  src: url('../Fonts/Montserrat-SemiBold.ttf') format('truetype');
}

/*Layout*/
body {
  background: var(--gradient-colour);
  height: 100%;
  margin: 0 10px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.white-background {
  margin: 30px;
  padding: 30px 20px 20px 20px;
  min-height: 300px;
}

.white-background,
.signin_button,
.menu,
.menu-slider,
.button-create,
.ipad-signin__button {
  background-color: var(--white);
}

.white-background,
.product-frame,
.productslider,
.cta,
.blue-button,
.products-container,
.newad-background,
.upload-button,
.password-button,
.edit-button,
.success-button {
  border-radius: 50px;
}

footer {
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: grey;
}

/*General content*/
main {
  animation: smooth-loading 0.7s forwards;
  opacity: 0;
}

@keyframes smooth-loading {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.product-frame {
  background-color: var(--white);
  padding: 20px;
  min-width: 165px;
  min-height: 155px;
  border: 2px solid var(--blue-colour);
  box-shadow: 0px 2px 2px 0px var(--blue-colour);
  overflow: hidden;
  display: grid;
  align-items: center;
  grid-template-areas:
    'year year used'
    'title title title'
    'image image price'
    'image image button';
}

.product-frame h3 {
  grid-area: title;
}
.product-frame img {
  grid-area: image;
}
.product-frame .used-label {
  grid-area: used;
}
.price {
  grid-area: price;
}
.product-frame a {
  grid-area: button;
}
.year {
  grid-area: year;
}

.product-frame .used-label {
  margin: 0;
  margin-top: -63px;
}

.productimage {
  max-width: 80px;
}

.price {
  margin-bottom: -25px;
}

.product-frame h3 {
  margin-top: -10px;
}

.productslider {
  display: grid;
  gap: 10px;
  margin: auto;
  background-color: var(--blue-colour);
}

.cta {
  background: var(--gradient-colour);
  color: var(--white);
  padding: 10px 30px;
  border: none;
  max-width: 150px;
}

.blue-button {
  color: var(--white);
  background: var(--gradient-button);
  border: none;
  box-shadow: 0 1px 2px 0 var(--grey-shadow);
}

.viewbutton {
  max-width: 50px;
  margin-bottom: -10px;
  padding: 5px 7px;
}

.buybutton {
  padding: 0 25px;
}

.used-label {
  background-color: #e1b4bf;
  padding: 5px 0px;
  min-width: 50px;
  max-width: 50px;
}

.new-label {
  background-color: var(--lightblue-colour);
}

form input,
select,
textarea {
  border: 2px solid var(--darkblue-colour);
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.contact-main,
.newad-main {
  margin: auto;
}

.shop-main {
  margin: auto;
}

.products-container {
  display: grid;
  gap: 30px;
  margin-top: 80px;
  background-color: var(--lightyellow-colour);
}

/*Home page*/
.homecta {
  display: block;
  border: var(--homecta-colour) solid 0.3rem;
  border-radius: 30px;
}

.button-explore {
  background-color: var(--homecta-colour);
}

.imgdesign-home {
  max-width: 300px;
}

.container {
  display: flex;
  justify-content: space-around;
}

/*Contact page*/
.form-wrapper {
  display: flex;
}

.form-wrapper > * {
  flex: 1;
  display: flex;
  text-align: left;
  flex-direction: column;
}

.cta-send {
  position: relative;
}

.contact-formbackground {
  background-color: var(--lightblue-colour);
  border: 3px solid var(--blue-colour);
  border-radius: 5px;
  padding-bottom: 30px;
}

/*Create account page*/
.newaccount-cta {
  align-self: center;
  margin-top: 30px;
}

.newaccount-background {
  background-color: var(--lightyellow-colour);
  border: 3px solid var(--orange-colour);
}

.checkbox {
  margin: 10px 0;
}

.active_signin {
  background-color: var(--lightyellow-colour);
  box-shadow: 1px 1px 1px 1px var(--shadow-color);
}

.cta-publish {
  margin-bottom: 30px;
}

/*Create new ad (sell) page*/
.newad-background {
  background-color: var(--lightyellow-colour);
  border: 3px solid var(--orange-colour);
}

.upload-button {
  width: 50%;
  background: var(--white);
}

/*Account page/User page*/
.account-main {
  margin: auto;
}

.account-container {
  display: flex;
}

.information-container {
  display: flex;
  border: 2px solid var(--blue-colour);
  padding: 20px 50px;
}

.password-button {
  border: 3px solid var(--blue-colour);
  background-color: var(--white);
  padding: 5px 10px;
}

.edit-button {
  border: 3px solid var(--orange-colour);
  background-color: var(--white);
  padding: 5px 20px;
  margin-top: 20px;
}

.orderhistory-container {
  display: flex;
  justify-content: space-evenly;
}

.orderhistory_1,
.orderhistory_2,
.information_2 {
  flex: 2;
}

.orderhistory_3,
.information_1 {
  flex: 1;
}

.orderhistory-frame {
  border: 2px solid var(--blue-colour);
}

.orderhistory_background {
  background-color: var(--background-fairblue);
}

/*Success page*/
.suksess-main {
  max-width: 1000px;
  margin: auto;
}

.fa-check-circle {
  color: #01844b;
  font-size: 3rem;
  margin-top: 20px;
}

.success-container {
  max-width: 400px;
  margin: auto;
  margin-bottom: 50px;
}

.success-contact {
  margin: 50px 0;
}

.success-button {
  background: linear-gradient(#dcc886, #d6b23a);
  padding: 10px 20px;
  color: var(--darkblue-colour);
}
