body {
  font-family: 'Montserrat Regular';
  font-size: 1rem;
}

.cta,
.blue-button,
.information_1,
.homecta,
.menu,
nav a,
.heading-specs {
  font-family: 'Montserrat SemiBold';
}

nav a,
input,
.menu {
  font-size: 0.75rem;
}

.productpage-year,
.product-frame,
.heading-specs,
.success-info {
  font-size: 0.75rem;
}

.main-checkout h3,
.success-info,
.homecta,
.buybutton {
  font-size: 1rem;
}

footer p {
  font-size: 0.6rem;
}

.current {
  text-decoration: solid underline var(--darkblue-colour) 0.2rem;
}

.menu,
.homecta,
h2 {
  color: var(--blue-colour);
}

.menu-slider a,
.ipad-signin__button,
nav a {
  color: var(--darkblue-colour);
}

h1 {
  font-family: 'Closeness Outline';
  color: var(--darkpink-colour);
  letter-spacing: 0.3rem;
  font-size: 2.3125rem;
  padding: 20px 10px;
}

h2 {
  font-family: 'Closeness Outline';
  letter-spacing: 0.3rem;
  font-size: 1.7rem;
}

.buybutton {
  letter-spacing: 0.1rem;
}

.price,
.productpage-year,
.productpage-price {
  font-weight: bold;
  letter-spacing: 0.07rem;
}

.heading-specs {
  font-weight: bold;
  letter-spacing: 0;
}

.cart-productinfo p {
  line-height: 10px;
  font-size: 0.8rem;
}

.cart-total {
  font-size: 1.3rem;
  font-weight: bold;
}

h1,
.homecta,
.cta,
.cta-send,
.blue-button,
.used-label,
footer p,
.main-checkout h2,
.contact-main,
.newad-main,
.suksess-main,
.success-container {
  text-align: center;
}

.ipad-signin__button,
.homecta,
.menu-slider a,
nav a,
.cta,
.blue-button,
.success-button {
  text-decoration: none;
}
