body {
  font-family: 'Montserrat Regular';
  font-size: 1rem;
}

nav a {
  font-family: 'Montserrat SemiBold';
  text-decoration: none;
  color: var(--darkblue-colour);
  font-size: 0.75rem;
}

.current {
  text-decoration: underline 0.2rem;
}

input {
  font-size: 0.75rem;
}

.menu {
  color: var(--blue-colour);
  font-size: 0.75rem;
  font-family: 'Montserrat SemiBold';
}

.menu-slider a {
  text-decoration: none;
  color: var(--darkblue-colour);
}

h1 {
  font-family: 'Closeness Outline', Verdana, Geneva, Tahoma, sans-serif;
  color: var(--darkpink-colour);
  letter-spacing: 0.3rem;
  font-size: 2.3125rem;
  text-align: center;
  padding: 20px 10px;
}

h2 {
  font-family: 'Closeness Outline';
  color: var(--blue-colour);
  letter-spacing: 0.3rem;
  font-size: 1.7rem;
}

.homecta {
  text-decoration: none;
  color: var(--blue-colour);
  font-size: 1rem;
  font-family: 'Montserrat SemiBold';
  text-align: center;
}

.ipad-signin__button {
  text-decoration: none;
  color: var(--darkblue-colour);
}

.information_1 {
  font-family: 'Montserrat SemiBold';
}

.cta,
.blue-button {
  font-family: 'Montserrat SemiBold';
}

.buybutton {
  font-size: 1rem;
  letter-spacing: 0.1rem;
}

.price,
.productpage-year,
.productpage-price {
  font-weight: bold;
  letter-spacing: 0.07rem;
}

.productpage-year,
.product-frame {
  font-size: 0.75rem;
}

.cart-total {
  font-size: 1.3rem;
  font-weight: bold;
}

.success-info {
  font-size: 0.75rem;
  line-height: 1rem;
}

footer p {
  text-align: center;
  font-size: 0.6rem;
  color: grey;
}
