:root {
  --gradient-colour: linear-gradient(#3a6186, #8a253e);
  --darkblue-colour: #1b203d;
  --lightblue-colour: #3a6186;
  --darkpink-colour: #8a253e;
  --orange-colour: #c7732e;
  --lightyellow-colour: #f5eed9;
  --homecta-colour: #e8ddba;
  --shadow-color: #6d431f;
}
