:root {
  --gradient-colour: linear-gradient(#3a6186, #8a253e);
  --gradient-button: linear-gradient(#606688, #1b203d);
  --darkblue-colour: #1b203d;
  --blue-colour: #3a6186;
  --lightblue-colour: #bfd0df;
  --darkpink-colour: #8a253e;
  --orange-colour: #c7732e;
  --lightyellow-colour: #f5eed9;
  --homecta-colour: #e8ddba;
  --shadow-color: #6d431f;
  --background-fairblue: #e8eef3;
  --grey-shadow: #848f9a;
}
